// Partials
@import "partials/_fonts";
@import "partials/_variables";
@import "partials/_mixins";
// General/Global Styles
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 1.4;
    color: $grey;
    background: $white;
    h1, h2, h3, h4, strong {
        font-family: $main-font;
        color: $dark-grey;
    }
    h1, h2, h3, h4, {
        line-height: 1.2;
    }
    a {
        color: $black;
        text-decoration: none;
    }
}
// Layout
.container {
    max-width: 100%;
    padding: 1.5rem 0.8rem 0.5rem;
    margin: 0 auto;
}
.row {
    @include flex-row();
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.row + .row {
    margin: 0;
}
.col {
    flex-basis: 100%;
}
.line {
    color: $pastel-green;
}
// Utility
.justify-center {
    display: flex;
    justify-content: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.text-bold {
    font-weight: 600;
}
.light-blue-text {
    color: $pastel-blue;
}
.blue-text {
    color: $flat-blue;
}
.green-text {
    color: $pastel-green;
}
// Header
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    z-index: 999;
    transition: $transition-fast;
    @include rgba-background(247, 250, 255, 0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    nav {
        @include flex-col();
        align-items: center;
        h1 {
            font-weight: 400;
            padding: 0 1rem;
            transition: $transition;
            a {
                color: $light-grey;
            }
        }
        ul {
            @include flex-row();
            padding: 0;
            li {
                flex: 1;
                margin: 0rem 1rem;
                padding: 0rem .25rem;
                list-style: none;
                a {
                    color: $light-grey;
                    transition: $transition;
                    &:hover {
                        color: $dark-grey;
                    }
                }
            }
        }
    }
}
// Header Shrink Class
.shrink {
    height: 60px;
    h1 {
        display: none;
    }
}
// Fixed Navigation Fix
.nav-fix:before {
    display: block;
    content: " ";
    margin-top: -87.5px;
    height: 87.5px;
    visibility: hidden;
}
// Splash
.splash {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.425)), url(../img/splash.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.splash-text {
    font-family: $main-font;
    p:first-child {
        text-align: center;
        color: $white;
        font-size: 2rem;
    }
    p:last-child {
        color: $white;
        text-align: center;
        font-size: 1.75rem;
    }
    span.blink {
        animation: blink 1s infinite alternate;
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
// About
.profile-img {
    @include card-shadow();
    transition: $transition;
    filter: grayscale(90%);
    &:hover {
        filter: none;
        cursor: pointer;
    }
}
.fa {
    margin-right: .25rem;
}
.tech {
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    list-style: none;
    li {
        display: inline-block;
        padding: 0.25rem 0.4rem;
        span {
            font-size: 3rem;
        }
    }
}
// Projects
.card {
    flex: 1 1 100%;
    position: relative;
    border: 1px solid $off-white;
    margin: 0.25rem 0.1rem;
    transition: $transition-fast;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        margin: 0 0 1.75rem;
    }
    p.subtitle {
        margin: 0 0 1rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: $flat-blue;
    }
    a:nth-child(1) {
        color: $pastel-blue;
    }
    a:nth-child(2) {
        color: $pastel-green;
    }
    a {
        margin-right: 0.25rem;
        transition: $transition;
        &:hover {
            color: $dark-grey;
        }
        span.fa {
            margin-right: -.15rem;
        }
    }
}
.card-image {
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: $transition;
    &:hover {
        opacity: 1;
    }
}
.card-content {
    padding: 1.5rem 1rem 6.5rem;
}
.card-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.card-details-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $light-grey;
    margin: 0 1.75rem;
    padding: 1.75rem 0;
}
// Contact
.contact-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
    li {
        font-size: 0.9rem;
        transition: $transition-fast;
        &:hover {
            color: $flat-blue;
            cursor: pointer;
        }
        a {
            transition: $transition-fast;
            &:hover {
                color: $flat-blue;
            }
        }
        span.fa {
            font-size: 1.1rem;
        }
    }
}
// Footer
footer {
    width: 100%;
    font-family: $main-font;
    color: $light-grey;
    margin: 0 auto;
    @include flex-row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0 0.5rem;
    a { 
        font-weight: 600;
    }
}
//Tablet Styles
@media screen and (min-width: 500px) {
    // Layout
    .row {
        margin-top: 1rem;
    }
    // Header
    header {
        nav {
            ul {
                li {
                    margin: 0rem 2rem;
                }
            }
        }
    }
    // Splash Text
    .splash-text {
        font-family: $main-font;
        p:first-child {
            text-align: center;
            color: $white;
            font-size: 2rem;
        }
        p:last-child {
            color: $white;
            font-size: 1.75rem;
            animation: type 1.65s steps(30);
            overflow: hidden;
            white-space: nowrap;
            width: 35ch;
        }
        span.blink {
            animation: blink 1s infinite alternate;
        }
    }
    @keyframes type {
        from {
            width: 0;
        }
    }
    // Main Content
    // Projects
    .card {
        margin: 0.5rem 0.25rem;
        flex: 0 1 calc(50% - 0.5rem);
    }
    // Contact
    .contact-list {
        li {
            font-size: 1rem;
        }
        span.fa {
            font-size: 1.5rem;
        }
    }
}
// Desktop Styles
@media screen and (min-width: 800px) {
    // Layout
    .container {
        max-width: 960px;
    }
    .col {
        flex: 1;
    }
    ._25 {
        flex: 2.5;
    }
    ._75 {
        flex: 7.5;
    }
    .col + .col {
        margin-left: 0.8rem;
    }
    //Header
    header {
        min-width: 100%;
        height: 80px;
        transition: $transition;
        display: flex;
        align-items: center;
        @include rgba-background(247, 250, 255, 0.0);
        // Navigation
        nav {
            min-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1 {
                display: block;
                a {
                    display: none;
                }
            }
            ul {
                @include flex-row();
                li {
                    min-width: 150px;
                    a {
                        transition: $transition-fast;
                        color: $white;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    // Bottom Border Hover Transitions
    nav > ul > li > a {
        margin: 0.5rem 1rem;
        padding: 0 1rem 1.9rem;
        transition: $transition-fast;
        &:hover {
            border-bottom: 1px solid $white;
        }
    }
    // Header Shrink Class
    .shrink {
        height: 65px;
        @include rgba-background(247, 250, 255, 0.95);
        nav {
            h1 {
                display: block;
                font-size: 1.75rem;
                a {
                    display: block;
                    color: $light-grey;
                }
            }
            ul {
                li {
                    a {
                        color: $light-grey;
                        padding: 0 1rem 1.47rem;
                        &:hover {
                            color: $dark-grey;
                            border-bottom: 1px solid $dark-grey;
                        }
                    }
                }
            }
        }
    }
    // Splash
    .splash {
        height: 100vh;
        position: relative;
    }
    // Main Content
    // About
    #about {
        text-align: center;
    }
    .profile-img {
        width: 250px;
        height: 250px;
    }
    .more-info {
        h3 {
            text-align: center;
        }
    }
    // Projects
    #projects {
        text-align: center;
    }
    // Contact
    #contact {
        text-align: center;
    }
    // Footer
    footer {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0.8rem 0.5rem;
        p {
            margin: 0;
        }
    }
}
@media screen and (min-width: 1000px) {
    .container {
        max-width: 1140px;
    }
}