// Mixins
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin rgba-background($r,$g,$b,$opacity) {
    background: rgba($r,$g,$b,$opacity);
}
@mixin card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@mixin color-hover ($color) {
    transition: $transition-fast;
    &:hover {
        color: ($color);
    }
}